@charset "UTF-8"

body{

}

.logounad1{
    width: 60%;
    padding: 5px 90px;
}

.iconos-redes-header{
width: 30px;
margin: 5px 5px;
}

header{
    text-align: center;
    background-color:rgb(255, 255, 255);
    font-family:Arial, Helvetica, sans-serif;
    
}
section{
    float: left;
    max-width: 70%;
    text-align: left;
}
article{
    background-color:darkgrey;
    text-align: left;
    
}
aside{
     float: left;
     width: 30%;
     background-color;#fff;
}
footer{
    color: rgb(0, 0, 0);
    padding: 50px 0;
    text-align: center;
    
 }

.contenedor::after{
    content:"";
    display: block;
    clear:both;

}
 